nav {
  width: 100%;
  background: image-url('bg-row.png') top left repeat-x;
  height: 57px;
  overflow: hidden;
  @media screen and (max-width: 960px) {
    height: auto;
  }
  ul {
    display: inline;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 42px;
    line-height: 42px;
    clear: both;
    li {
      float: left;
      display: inline;
      font-size: 12px;
      margin: 0px;
      padding: 0px;
      a {
        display: block;
        height: 42px;
        margin-right: 20px;
        text-decoration: none;
        margin-top: 10px;
      }
      a.active {
        color: #ffffff;
        background-color: #000000;
        padding: 0 10px 0 10px;
        &:hover {
          color: #555;
        }
      }
    }
  }
}
.mean-container {
  .mean-bar {
    background: none;
    a.meanmenu-reveal {
      color: #000000;
      span {
        background-color: #000000;
      }
    }
    .mean-nav {
      background: none;
      li {
        a {
          text-align: center;
          font-size: 12px;
          border-top: 1px solid #cccccc;
          &:link, &:visited {
            color: #444444;
            text-decoration: none;
          }
          &:hover {
            color: #000000;
            text-decoration: none;
          }
        }
      }
    }
  }
}