/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\000032}}
#comments article, .page-comment-reply article {
  margin: 0;
  padding: 0;
  width: 100%;
  clear: both;
  float: left;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #8e8e8e;
  color: #454545;
  font-family: 'Helvetica',Arial,Helvetica,sans-serif;
  font-size: 12px;
  line-height: 22px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000316}}
#comments .submitted, .page-comment-reply .submitted {
  font-family: 'Droid Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #858585; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000322}}
#comments .comments__title, .page-comment-reply .comments__title {
  border-bottom: 1px solid #8e8e8e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000326}}
#comments h3, .page-comment-reply h3 {
  font-size: 18px;
  font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000331}}
#comments #comment-form, .page-comment-reply #comment-form {
  width: 50%; }
  @media screen and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000331}}
    #comments #comment-form, .page-comment-reply #comment-form {
      width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000336}}
  #comments #comment-form .form-text, #comments #comment-form textarea, .page-comment-reply #comment-form .form-text, .page-comment-reply #comment-form textarea {
    clear: both;
    border: 1px solid #8e8e8e;
    margin-bottom: 5px;
    width: 90%;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000346}}
  #comments #comment-form textarea, .page-comment-reply #comment-form textarea {
    resize: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000351}}
#comments .form-submit, .page-comment-reply .form-submit {
  clear: both;
  width: 120px;
  height: 30px;
  line-height: 25px;
  background: #e5e5e5;
  border: 1px solid #8e8e8e;
  margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000360}}
#comments ul, .page-comment-reply ul {
  padding: 10px 0 10px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000365}}
.page-user .post-area {
  width: 770px;
  background: #FFF;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-right: 10px;
  float: left; }
  @media screen and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000365}}
    .page-user .post-area {
      width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000375}}
  .page-user .post-area .l-content {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden; }
    @media screen and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000375}}
      .page-user .post-area .l-content {
        width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000386}}
    .page-user .post-area .l-content .tabs li {
      display: inline;
      list-style: none;
      padding-left: 0;
      margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000391}}
      .page-user .post-area .l-content .tabs li a {
        margin-right: 0;
        background-color: #bbbbbb; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\0000395}}
      .page-user .post-area .l-content .tabs li a.active {
        background-color: #000000;
        color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\00003101}}
    .page-user .post-area .l-content h1 {
      clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\00003108}}
.page-user .user-login .form-item input, .page-user .user-pass .form-item input, .page-user .user-register-form .form-item input {
  clear: both;
  border: 1px solid #8e8e8e;
  margin-bottom: 5px;
  width: 50%;
  padding: 7px;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_forms\.scss}line{font-family:\00003119}}
.page-user .user-login .form-submit, .page-user .user-pass .form-submit, .page-user .user-register-form .form-submit {
  clear: both;
  width: 120px;
  height: 30px;
  line-height: 25px;
  background: #e5e5e5;
  border: 1px solid #8e8e8e; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_links\.scss}line{font-family:\000032}}
a:link, a:visited {
  color: #444444;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_links\.scss}line{font-family:\000036}}
a:hover {
  color: #000000;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_links\.scss}line{font-family:\0000310}}
a:active {
  color: #444444;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_links\.scss}line{font-family:\0000314}}
a:focus {
  outline-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_lists\.scss}line{font-family:\000031}}
ul {
  padding: 0px;
  margin: 0;
  margin-left: 0px;
  font-family: 'Helvetica',Arial, Helvetica, sans-serif;
  margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_lists\.scss}line{font-family:\000037}}
  ul li {
    font-size: 12px;
    color: #858585;
    padding-left: 10px;
    margin-bottom: 7px;
    list-style: inside;
    list-style-type: square; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_lists\.scss}line{font-family:\0000317}}
ol {
  padding: 0px;
  margin: 0;
  margin-left: 25px;
  font-family: 'Helvetica',Arial, Helvetica, sans-serif;
  margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_lists\.scss}line{font-family:\0000323}}
  ol li {
    font-size: 12px;
    color: #858585;
    padding-left: 10px;
    margin-bottom: 7px;
    list-style-type: decimal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_lists\.scss}line{font-family:\0000332}}
hr {
  border: 0;
  outline: 0;
  clear: both;
  height: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%;
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_typography\.scss}line{font-family:\000031}}
h1 {
  font-size: 36px;
  line-height: 41px;
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_typography\.scss}line{font-family:\0000312}}
h2 {
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_typography\.scss}line{font-family:\0000321}}
h3 {
  font-size: 15px;
  line-height: 25px;
  color: #858585;
  padding: 0px;
  margin: 0px;
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_typography\.scss}line{font-family:\0000330}}
h4 {
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_typography\.scss}line{font-family:\0000340}}
h5 {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_typography\.scss}line{font-family:\0000349}}
h6 {
  font-size: 12px;
  line-height: 22px;
  color: #858585;
  padding: 0px;
  margin: 0px;
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_typography\.scss}line{font-family:\0000358}}
p {
  font-size: 12px;
  color: #454545;
  line-height: 22px;
  margin: 0px;
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Helvetica',Arial, Helvetica, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/base\/_typography\.scss}line{font-family:\0000369}}
blockquote {
  font-size: 2em;
  line-height: 23px;
  color: #000;
  margin-left: 20px;
  border-left: 1px dotted #999;
  padding-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/components\/_navigation\.scss}line{font-family:\000031}}
nav {
  width: 100%;
  background: url('../images/bg-row.png?1392895201') top left repeat-x;
  height: 57px;
  overflow: hidden; }
  @media screen and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/components\/_navigation\.scss}line{font-family:\000031}}
    nav {
      height: auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/components\/_navigation\.scss}line{font-family:\000039}}
  nav ul {
    display: inline;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 42px;
    line-height: 42px;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/components\/_navigation\.scss}line{font-family:\0000317}}
    nav ul li {
      float: left;
      display: inline;
      font-size: 12px;
      margin: 0px;
      padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/components\/_navigation\.scss}line{font-family:\0000323}}
      nav ul li a {
        display: block;
        height: 42px;
        margin-right: 20px;
        text-decoration: none;
        margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/components\/_navigation\.scss}line{font-family:\0000330}}
      nav ul li a.active {
        color: #ffffff;
        background-color: #000000;
        padding: 0 10px 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/components\/_navigation\.scss}line{font-family:\0000334}}
        nav ul li a.active:hover {
          color: #555; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/components\/_navigation\.scss}line{font-family:\0000342}}
.mean-container .mean-bar {
  background: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/components\/_navigation\.scss}line{font-family:\0000344}}
  .mean-container .mean-bar a.meanmenu-reveal {
    color: #000000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/components\/_navigation\.scss}line{font-family:\0000346}}
    .mean-container .mean-bar a.meanmenu-reveal span {
      background-color: #000000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/components\/_navigation\.scss}line{font-family:\0000350}}
  .mean-container .mean-bar .mean-nav {
    background: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/components\/_navigation\.scss}line{font-family:\0000353}}
    .mean-container .mean-bar .mean-nav li a {
      text-align: center;
      font-size: 12px;
      border-top: 1px solid #cccccc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/components\/_navigation\.scss}line{font-family:\0000357}}
      .mean-container .mean-bar .mean-nav li a:link, .mean-container .mean-bar .mean-nav li a:visited {
        color: #444444;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/components\/_navigation\.scss}line{font-family:\0000361}}
      .mean-container .mean-bar .mean-nav li a:hover {
        color: #000000;
        text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\0000323}}
.wrap {
  width: 94%;
  margin-left: 3%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\0000328}}
body {
  background: url('../images/bg.jpg?1392895201') repeat white;
  font-size: 12px;
  line-height: 20px;
  font-family: 'Droid Sans', sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\0000335}}
header .l-branding {
  margin-top: 35px;
  margin-bottom: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\0000344}}
.post-area .l-content .view .view-content .views-row {
  width: 310px;
  background: #FFF;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-right: 10px;
  margin-top: 15px;
  position: relative;
  padding-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\0000353}}
  .post-area .l-content .view .view-content .views-row .views-field-field-tags {
    position: absolute;
    width: auto;
    background: #000;
    margin-top: -35px;
    z-index: 10;
    height: 30px;
    overflow: hidden;
    left: 0;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\0000363}}
    .post-area .l-content .view .view-content .views-row .views-field-field-tags a {
      color: #fff;
      font-style: italic;
      margin: 0;
      line-height: 30px;
      font-size: 12px;
      padding: 0 5px 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\0000370}}
      .post-area .l-content .view .view-content .views-row .views-field-field-tags a:hover {
        color: #555; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\0000375}}
  .post-area .l-content .view .view-content .views-row .views-field-field-image {
    z-index: 5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\0000378}}
  .post-area .l-content .view .view-content .views-row .views-field-created {
    width: 250px;
    margin-left: auto;
    margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\0000382}}
    .post-area .l-content .view .view-content .views-row .views-field-created span {
      width: 150px;
      color: #8e8e8e;
      font-size: 11px;
      border-bottom: 1px dotted #cccccc;
      padding-bottom: 5px;
      padding-top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\0000391}}
  .post-area .l-content .view .view-content .views-row .views-field-body {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\0000397}}
  .post-area .l-content .view .view-content .views-row .views-field-title {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 5px 0 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003104}}
  .post-area .l-content .view .view-content .views-row .views-field-view-node {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 8px;
    font-family: 'Helvetica',Arial, Helvetica, sans-serif;
    border-top: 1px dotted #e8e8e8;
    color: #494e51; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003114}}
    .post-area .l-content .view .view-content .views-row .views-field-view-node a {
      font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003120}}
.post-area .l-content .view .pager {
  padding-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003122}}
  .post-area .l-content .view .pager .pager__item--current {
    color: #ffffff;
    background-color: #000000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003128}}
.post-area .l-content .l-region--highlighted {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003130}}
  .post-area .l-content .l-region--highlighted .block--prev-next {
    position: absolute;
    right: -55px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003134}}
    .post-area .l-content .l-region--highlighted .block--prev-next ul li {
      list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003137}}
    .post-area .l-content .l-region--highlighted .block--prev-next ul .prev-next-link-prev a {
      background: url('../images/btn-left.png?1392895201') top left no-repeat;
      height: 35px;
      width: 35px;
      float: left;
      text-indent: -9999px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003143}}
      .post-area .l-content .l-region--highlighted .block--prev-next ul .prev-next-link-prev a:hover {
        background: url('../images/btn-left.png?1392895201') top right no-repeat;
        height: 35px;
        width: 35px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003149}}
    .post-area .l-content .l-region--highlighted .block--prev-next ul .prev-next-link-next a {
      background: url('../images/btn-right.png?1392895201') top left no-repeat;
      height: 35px;
      width: 35px;
      float: left;
      clear: both;
      text-indent: -9999px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003156}}
      .post-area .l-content .l-region--highlighted .block--prev-next ul .prev-next-link-next a:hover {
        background: url('../images/btn-right.png?1392895201') top right no-repeat;
        height: 35px;
        width: 35px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003168}}
.page-node .post-area {
  width: 770px;
  background: #FFF;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-right: 10px;
  margin-top: 15px;
  position: relative;
  float: left; }
  @media screen and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003168}}
    .page-node .post-area {
      width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003180}}
  .page-node .post-area .field {
    width: 710px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003180}}
      .page-node .post-area .field {
        width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003188}}
  .page-node .post-area .field--name-field-featured-image {
    width: 770px; }
    @media screen and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003188}}
      .page-node .post-area .field--name-field-featured-image {
        width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003194}}
  .page-node .post-area .field--name-body, .page-node .post-area .links, .page-node .post-area #comments {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden; }
    @media screen and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003194}}
      .page-node .post-area .field--name-body, .page-node .post-area .links, .page-node .post-area #comments {
        width: 100%;
        padding: 10px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003206}}
  .page-node .post-area .field--name-field-image, .page-node .post-area h1, .page-node .post-area .node__submitted {
    width: 710px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003206}}
      .page-node .post-area .field--name-field-image, .page-node .post-area h1, .page-node .post-area .node__submitted {
        width: 100%;
        padding: 0 5px 0 5px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003215}}
  .page-node .post-area h1 {
    margin-top: 15px; }
    @media screen and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003215}}
      .page-node .post-area h1 {
        font-size: 25px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003221}}
  .page-node .post-area .node__submitted {
    padding-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003224}}
  .page-node .post-area .field--name-field-tags {
    position: absolute;
    width: auto;
    background: #000;
    margin-top: -35px;
    z-index: 10;
    height: 30px;
    overflow: hidden;
    left: 0;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003234}}
    .page-node .post-area .field--name-field-tags a {
      color: #fff;
      font-style: italic;
      margin: 0;
      line-height: 30px;
      font-size: 12px;
      padding: 0 5px 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003241}}
      .page-node .post-area .field--name-field-tags a:hover {
        color: #555; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003246}}
  .page-node .post-area .links {
    padding: 10px 0 10px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003254}}
.page-comment-reply .post-area {
  width: 770px;
  background: #FFF;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-right: 10px;
  margin-top: 15px;
  position: relative;
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003263}}
  .page-comment-reply .post-area .l-content {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003273}}
.l-footer {
  width: 100%;
  float: left;
  padding-top: 10px;
  margin-top: 20px;
  clear: both;
  background: url('../images/bg-row.png?1392895201') top left repeat-x; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003280}}
  .l-footer .block {
    width: 310px;
    margin-right: 10px;
    padding-top: 15px;
    float: left;
    font-size: 12px;
    color: #454545;
    line-height: 18px;
    font-family: 'Helvetica',Arial, Helvetica, sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003289}}
    .l-footer .block h2 {
      color: #858585;
      font-size: 15px;
      font-weight: normal;
      line-height: 25px;
      margin: 0;
      padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003297}}
    .l-footer .block p {
      color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003300}}
    .l-footer .block ul {
      margin-left: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003303}}
    .l-footer .block li {
      color: #858585; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003306}}
    .l-footer .block a {
      color: #444444; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003308}}
      .l-footer .block a:hover {
        color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003313}}
  .l-footer .block__content {
    width: 280px;
    overflow: hidden;
    float: left;
    margin-left: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003320}}
.tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 42px;
  line-height: 42px;
  clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003327}}
  .tabs li {
    list-style: none;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003330}}
    .tabs li a {
      height: 42px;
      margin-right: 20px;
      text-decoration: none;
      margin-top: 10px;
      padding: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003337}}
    .tabs li a.active {
      color: #ffffff;
      background-color: #000000;
      padding: 10px;
      height: 42px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003342}}
      .tabs li a.active:hover {
        color: #555; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003349}}
.l-region--copyrights .block {
  clear: both;
  width: 100%;
  background: url('../images/bg-row.png?1392895201') top left repeat-x;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003357}}
  .l-region--copyrights .block p {
    padding-top: 15px;
    color: #4f5356;
    font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003362}}
  .l-region--copyrights .block a {
    color: #858585;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/gridly-drupal\/sites\/all\/themes\/custom\/gridly\/sass\/gridly\.styles\.scss}line{font-family:\00003365}}
    .l-region--copyrights .block a:hover {
      color: #000000;
      text-decoration: underline; }
