#comments ,.page-comment-reply {
  article {
    margin: 0;
    padding: 0;
    width: 100%;
    clear: both;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #8e8e8e;
    color: #454545;
    font-family: 'Helvetica',Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 22px;
  }
  .submitted {
    font-family: 'Droid Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #858585;
  }
  .comments__title {
    border-bottom: 1px solid #8e8e8e;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
  }

  #comment-form {
    width: 50%;
    @media screen and (max-width: 960px) {
      width: 100%;
    }
    .form-text, textarea {
      clear: both;
      border: 1px solid #8e8e8e;
      margin-bottom: 5px;
      width: 90%;
      padding: 7px;
      font-family: Arial, Helvetica, sans-serif;
      color: #555;
      font-size: 12px;
    }
    textarea {
      resize: none;
    }
  }

  .form-submit {
    clear: both;
    width: 120px;
    height: 30px;
    line-height: 25px;
    background: #e5e5e5;
    border: 1px solid #8e8e8e;
    margin-right: 10px;
  }
  ul {
    padding: 10px 0 10px 0;
  }
}
.page-user {
  .post-area {
    width: 770px;
    background: #FFF;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-right: 10px;
    float: left;
    @media screen and (max-width: 960px) {
      width: 100%;
    }
    .l-content {
        width: 710px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        overflow: hidden;
        @media screen and (max-width: 960px) {
          width: 100%;
        }
      .tabs {
        li {
          display: inline;
          list-style: none;
          padding-left: 0;
          margin-right: 0;
          a {
            margin-right: 0;
            background-color: #bbbbbb;
          }
          a.active {
            background-color: #000000;
            color:#fff;
          }
        }
      }
      h1 {
        clear: both;
      }
    }
  }
  .user-login, .user-pass, .user-register-form {
    .form-item {
      input {
      clear: both;
      border: 1px solid #8e8e8e;
      margin-bottom: 5px;
      width: 50%;
      padding: 7px;
      font-family: Arial, Helvetica, sans-serif;
      color: #555;
      font-size: 12px;
      }
    }
    .form-submit {
      clear: both;
      width: 120px;
      height: 30px;
      line-height: 25px;
      background: #e5e5e5;
      border: 1px solid #8e8e8e;
    }
  }
}