a {
  &:link, &:visited {
    color: #444444;
    text-decoration: none;
  }
  &:hover {
    color: #000000;
    text-decoration: none;
  }
  &:active {
    color: #444444;
    text-decoration: none;
  }
  &:focus {
    outline-style: none;
  }
}
