ul {
  padding: 0px;
  margin: 0;
  margin-left: 0px;
  font-family: 'Helvetica',Arial, Helvetica, sans-serif;
  margin-top: 10px;
  li {
    font-size: 12px;
    color: #858585;
    padding-left: 10px;
    margin-bottom: 7px;
    list-style: inside;
    list-style-type: square;
  }
}

ol {
  padding: 0px;
  margin: 0;
  margin-left: 25px;
  font-family: 'Helvetica',Arial, Helvetica, sans-serif;
  margin-top: 10px;
  li {
    font-size: 12px;
    color: #858585;
    padding-left: 10px;
    margin-bottom: 7px;
    list-style-type: decimal;
  }
}

hr {
  border: 0;
  outline: 0;
  clear: both;
  height: 10px;
}