h1 {
  font-size: 36px;
  line-height: 41px;
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 5px;
}

h2 {
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  line-height: 25px;
  color: #858585;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}

h4 {
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  font-weight: bold;
}

h5 {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}

h6 {
  font-size: 12px;
  line-height: 22px;
  color: #858585;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}

p {
  font-size: 12px;
  color: #454545;
  line-height: 22px;
  margin: 0px;
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Helvetica',Arial, Helvetica, sans-serif;
}

blockquote {
  font-size: 2em;
  line-height: 23px;
  color: #000;
  margin-left: 20px;
  border-left: 1px dotted #999;
  padding-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}