 // Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
.wrap {
  width: 94%;
  margin-left:3%;
}

body {
  background: image-url('bg.jpg') repeat #fff;
  font-size:12px;
  line-height:20px;
  font-family: 'Droid Sans', sans-serif;
}
header {
  .l-branding {
    margin-top: 35px;
    margin-bottom: 15px;
  }
}
.post-area {
  .l-content {
    .view {
      .view-content {
        .views-row {
          width: 310px;
          background: #FFF;
          border-right: 1px solid #dbdbdb;
          border-bottom: 1px solid #dbdbdb;
          margin-right: 10px;
          margin-top: 15px;
          position: relative;
          padding-bottom: 10px;
          .views-field-field-tags {
            position: absolute;
            width: auto;
            background: #000;
            margin-top: -35px;
            z-index: 10;
            height: 30px;
            overflow: hidden;
            left: 0;
            color: #fff;
            a {
              color: #fff;
              font-style: italic;
              margin: 0;
              line-height: 30px;
              font-size: 12px;
              padding: 0 5px 0 5px;
              &:hover {
                color: #555;
              }
            }
          }
          .views-field-field-image {
            z-index: 5;
          }
          .views-field-created {
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            span {
              width: 150px;
              color:#8e8e8e;
              font-size: 11px;
              border-bottom:1px dotted #cccccc;
              padding-bottom:5px;
              padding-top:5px;
            }
          }
          .views-field-body {
              width: 250px;
              margin-left: auto;
              margin-right: auto;
              overflow: hidden;
          }
          .views-field-title {
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            padding: 5px 0 5px 0;
          }
          .views-field-view-node {
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            padding-bottom:20px;
            padding-top:8px;
            font-family:'Helvetica',Arial, Helvetica, sans-serif;
            border-top:1px dotted #e8e8e8;
            color:#494e51;
            a {
              font-size: 12px;
            }
          }
        }
      }
      .pager {
        padding-top: 10px;
        .pager__item--current {
          color: #ffffff;
          background-color: #000000;
        }
      }
    }
    .l-region--highlighted {
      position: relative;
      .block--prev-next {
        position: absolute;
        right: -55px;
        ul {
          li {
            list-style: none;
          }
          .prev-next-link-prev a {
            background: image-url('btn-left.png') top left no-repeat;
            height: 35px;
            width: 35px;
            float: left;
            text-indent: -9999px;
            &:hover {
              background: image-url('btn-left.png') top right no-repeat;
              height: 35px;
              width: 35px;
            }
          }
          .prev-next-link-next a {
            background: image-url('btn-right.png') top left no-repeat;
            height: 35px;
            width: 35px;
            float: left;
            clear: both;
            text-indent: -9999px;
            &:hover {
              background: image-url('btn-right.png') top right no-repeat;
              height: 35px;
              width: 35px;
            }
          }
        }
      }
    }
  }
}
.page-node {
  .post-area {
    width: 770px;
    background: #FFF;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-right: 10px;
    margin-top: 15px;
    position: relative;
    float: left;
    @media screen and (max-width: 960px) {
      width: 100%;
    }
    .field {
      width: 710px;
      margin-left: auto;
      margin-right: auto;
      @media screen and (max-width: 960px) {
        width: 100%;
      }
    }
    .field--name-field-featured-image {
      width: 770px;
      @media screen and (max-width: 960px) {
      width: 100%;
      }
    }
    .field--name-body, .links, #comments {
        width: 710px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow: hidden;
        @media screen and (max-width: 960px) {
          width: 100%;
          padding: 10px;
        }
    }
    .field--name-field-image, h1, .node__submitted {
        width: 710px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: 960px) {
          width: 100%;
          padding: 0 5px 0 5px;
        }
    }
    h1 {
      margin-top: 15px;
      @media screen and (max-width: 960px) {
        font-size: 25px;
      }
    }
    .node__submitted {
      padding-bottom: 5px;
    }
    .field--name-field-tags {
      position: absolute;
      width: auto;
      background: #000;
      margin-top: -35px;
      z-index: 10;
      height: 30px;
      overflow: hidden;
      left: 0;
      color: #fff;
      a {
        color: #fff;
        font-style: italic;
        margin: 0;
        line-height: 30px;
        font-size: 12px;
        padding: 0 5px 0 5px;
        &:hover {
          color: #555;
        }
      }
    }
    .links {
      padding: 10px 0 10px 0;
      li {
      }
    }
  }
}
.page-comment-reply {
  .post-area {
    width: 770px;
    background: #FFF;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-right: 10px;
    margin-top: 15px;
    position: relative;
    float: left;
    .l-content {
      width: 710px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      overflow: hidden;
    }
  }
}
.l-footer {
  width: 100%;
  float: left;
  padding-top: 10px;
  margin-top: 20px;
  clear: both;
  background: image-url('bg-row.png') top left repeat-x;
  .block {
    width: 310px;
    margin-right: 10px;
    padding-top: 15px;
    float: left;
    font-size: 12px;
    color: #454545;
    line-height: 18px;
    font-family: 'Helvetica',Arial, Helvetica, sans-serif;
    h2 {
    color: #858585;
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
    margin: 0;
    padding: 0;
    }
    p {
      color: #000;
    }
    ul {
      margin-left: 0px;
    }
    li {
      color: #858585;
    }
    a {
      color: #444444;
      &:hover {
        color: #000;
      }
    }
  }
  .block__content {
    width: 280px;
    overflow: hidden;
    float: left;
    margin-left: 10px;
  }
}
.tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 42px;
  line-height: 42px;
  clear: both;
  li {
    list-style: none;
    float: left;
    a {
      height: 42px;
      margin-right: 20px;
      text-decoration: none;
      margin-top: 10px;
      padding: 10px;
    }
    a.active {
      color: #ffffff;
      background-color: #000000;
      padding: 10px;
      height: 42px;
      &:hover {
        color: #555;
      }
    }
  }
}
.l-region--copyrights {
  .block {
    clear: both;
    width: 100%;
    background: image-url('bg-row.png') top left repeat-x;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    p {
      padding-top: 15px;
      color: #4f5356;
      font-size: 12px;
    }
    a {
      color: #858585;
      text-decoration: none;
      &:hover {
        color: #000000;
        text-decoration: underline;
      }
    }
  }
}